.calendar-container {
  padding: 16px;
  justify-content: center;
}

.calendar-card {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.calendar-view-container {
  padding: 16px 16px;
}

.calendar-view-buttons {
  display: flex;
  float: left;
  justify-content: flex-start;
}

.calendar-buttons-container {
  min-width: 1810px;
}

.calendar-add-action-button {
  display: flex;
  float: right;
  justify-content: flex-end;
}

@media screen and (max-width: 600px) {
  button > span {
    font-size: 12px;
  }

  .calendar-container {
    padding: 8px;
  }

  .calendar-view-container {
    padding: 16px 4px;
  }

  .mobile-button-sizing,
  .calendar-add-action-button {
    font-size: 12px;
  }

  .calendar-buttons-container {
    min-width: 290px;
  }
}
