<div class="first-home-container" [@enter1]>
  <div class="first-home-label" [@enter2]>
    <span class="first-home-title">Barber Manager</span>
    <span class="first-home-desc">
      Bienvenido! Aquí podras encontrar diferentes proveedores de servicios como
      barberos, expecialistas en uñas, estilistas y mas. Contamos con un sistema
      de recomendación segun tus preferencias y necesidades, ademas, puedes
      calificar el serviciso que te brindaron y puedes ver las reviews que otros
      usuarios han dejado para ti. Si no estas registrado que esperas para
      probar la aplicación.
    </span>
  </div>
</div>

<div class="second-home-container" [@enter3]>
  <div class="second-home-label" [@enter4]>
    <span class="second-home-title">¿Eres un proveedor de servicios?</span>
    <span class="second-home-desc">
      Además de brindarte visibilidad y recomendarte con nuevos clientes podras
      administrar tus citas, tener un control organizado de sus pagos, control
      de inasistencias, publicitar tu trabajo, calificar a tus usuarios y ver
      las reviews que otros proveedores han dejado de ellos.
    </span>
  </div>
</div>

<div class="third-home-container" [@enter1]>
  <div class="third-home-label" [@enter2]>
    <span class="third-home-title">Contactanos:</span>
    <span class="third-home-desc">
      <ul>
        <li>Arturo Alejandro Daza - aadazaa@unal.edu.co</li>
        <li>Cristian Alejandro Rojas - crrojasm@unal.edu.co</li>
        <li>Juan David Fernández - judfernandezmo@unal.edu.co</li>
        <li>Juan David Pino Ramírez - jpinor@unal.edu.co</li>
        <li>Juan Diego Castro Marín - jucastroma@unal.edu.co</li>
        <li>Juan José Melguizo Ramirez - jmelguizo@unal.edu.co</li>
        <li>Sebastian López Mazo - selopez@unal.edu.co</li>
      </ul>
    </span>
  </div>
</div>
