<mat-toolbar class="toolbar" [@enter1]>
  <button
    mat-icon-button
    (click)="snav.toggle()"
    class="app-menu"
    *ngIf="isLogged"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <h1 routerLink="/" routerLinkActive="active" class="app-name" [@enter2]>
    Barber Manager
  </h1>
  <button
    mat-button
    [matMenuTriggerFor]="loginMenu"
    class="user-icon"
    *ngIf="!isLogged"
  >
    <mat-icon>person_outline</mat-icon>
  </button>
  <button
    mat-button
    [matMenuTriggerFor]="loginMenu"
    class="user-loged-menu"
    *ngIf="isLogged"
  >
    <mat-icon class="user-loged-icon">person_outline</mat-icon>
    <span>{{ userInfo?.name }}</span>
  </button>
  <nav class="top-navigtaion" *ngIf="!isLogged">
    <a mat-button (click)="openDialog(dialogTypeEnum.register)">Unirse</a>
    <a mat-button (click)="openDialog(dialogTypeEnum.login)">Ingresar</a>
  </nav>
</mat-toolbar>

<mat-menu #loginMenu="matMenu">
  <button
    mat-menu-item
    (click)="openDialog(dialogTypeEnum.register)"
    *ngIf="!isLogged"
  >
    Unirse
  </button>
  <button
    mat-menu-item
    (click)="openDialog(dialogTypeEnum.login)"
    *ngIf="!isLogged"
  >
    Ingresar
  </button>
  <button mat-menu-item (click)="isLogged = false" disabled *ngIf="isLogged">
    Perfil
  </button>
  <button
    mat-menu-item
    (click)="logout()"
    routerLink="/"
    routerLinkActive="active"
    *ngIf="isLogged"
  >
    Salir
  </button>
</mat-menu>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #snav mode="over" fixedTopGap="56">
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/dashboard"
        routerLinkActive="active"
        (click)="snav.toggle()"
        >Información</a
      >
      <a
        mat-list-item
        routerLink="/calendar"
        routerLinkActive="active"
        (click)="snav.toggle()"
        >Calendario</a
      >
      <a
        mat-list-item
        routerLink="/recommended"
        routerLinkActive="active"
        (click)="snav.toggle()"
        >Recomendados</a
      >
      <a
        mat-list-item
        routerLink="/barbers"
        routerLinkActive="active"
        (click)="snav.toggle()"
        >Barberos</a
      >
      <a
        mat-list-item
        routerLink="/saloons"
        routerLinkActive="active"
        (click)="snav.toggle()"
        >Estilistas</a
      >
      <a
        mat-list-item
        routerLink="/tatoo"
        routerLinkActive="active"
        (click)="snav.toggle()"
        >Tatuadores</a
      >
      <a
        mat-list-item
        routerLink="/spa"
        routerLinkActive="active"
        (click)="snav.toggle()"
        >Spas</a
      >
      <a mat-list-item routerLink="/nails" disabled>Uñas</a>
      <a mat-list-item routerLink="/depilation" disabled>Depilación</a>
      <a mat-list-item routerLink="/trainers" disabled>Entrenadores</a>
      <a mat-list-item routerLink="/teraphy" disabled>Terapia</a>
      <a mat-list-item routerLink="/piercing" disabled>Perforación</a>
      <a mat-list-item routerLink="/products" disabled>Productos</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
